.close-button {
    background-image: url(../../images/Close\ Icon.svg);
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-position: 50%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    cursor: pointer;
}

@media (max-width: 645px) {
    .close-button {
        width: 26px;
        height: 26px;
    }
}